.main-nav {
  display: inline-flex;
}

.main-nav li {
  margin: 10px;
}
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}